h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0B132A;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.4285714286;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.heading-small {
  font-weight: 500;
  font-style: 18px;
  margin-bottom: 5px;
  line-height: 1.6666666667;
}

.text {
  line-height: 1.875;
}

.text-medium {
  font-weight: 500;
}

.text-small {
  font-style: 14px;
  line-height: 2.1428571429;
}

@media screen and (max-width: 1024px) {
  .heading {
    font-size: 30px;
  }
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  font-weight: 400;
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  max-width: 1520px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 13px 63px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}
.button--primary {
  font-weight: 700;
  background-color: #F53838;
  color: white;
}
.button--outline {
  background-color: transparent;
  color: #F53838;
  font-weight: 500;
  border: 1px solid;
}
.button--rounded {
  border-radius: 10px;
  padding: 22px 78px;
}
.button--rounded--shadow {
  position: relative;
}
.button--rounded--shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100%;
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: inherit;
  transform: translate(-50%, 50%);
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 400px) {
  .button--rounded {
    padding: 17px 35px;
  }
}
.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container img {
  padding-left: 30px;
  padding-right: 9px;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}
.header-signin {
  font-weight: 500;
  color: #0B132A;
}
.header-signup {
  padding: 13px 45px;
  border-radius: 100rem;
  color: #F53838;
  border: 1px solid;
  font-weight: 500;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 25px 0 50px;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header-auth {
    display: none;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
.hero-content {
  width: 100%;
  max-width: 555px;
  padding-left: 30px;
}
.hero-image {
  transform: translateX(67px);
  padding-top: 25px;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #0B132A;
}
.hero-desc {
  line-height: 1.875;
  margin-bottom: 50px;
  width: 533px;
}
.hero-desc strong {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .hero-image {
    transform: none;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .hero-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media screen and (max-width: 400px) {
  .hero-heading {
    font-size: 35px;
  }
}
.intro {
  margin-bottom: 34px;
}
.intro-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 37px;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
  gap: 130px;
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
  font-size: 20px;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}
.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: 1.2;
}
.intro-text {
  line-height: 1.5;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .intro-container {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
    padding: 30px;
  }
  .intro-item {
    flex-direction: column;
    gap: 20px 0;
    text-align: center;
  }
  .intro-item:nth-child(2) {
    border: none;
  }
}
.feature {
  padding-bottom: 121px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 145px;
}
.feature-desc {
  margin-bottom: 23px;
}
.feature-list {
  list-style-type: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 21px;
  font-size: 14px;
}
.feature-content {
  padding-right: 7px;
}

@media screen and (max-width: 1023.98px) {
  .feature {
    padding-bottom: 80px;
  }
  .feature-container {
    flex-direction: column;
  }
  .feature-content {
    margin-top: 30px;
  }
}
@media screen and (max-width: 700px) {
  .heading {
    font-size: 25px;
  }
}
.plan {
  padding: 80px 0 30px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.plan-header {
  max-width: 555px;
  margin: 0 auto 60px;
  text-align: center;
  padding-left: 28px;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 148px;
}
.plan-item {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 76px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 34px;
  margin-top: 6px;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-bottom: 6px;
  font-style: 14px;
  line-height: 2.1428571429;
}
.plan-details {
  margin-bottom: 50px;
  margin-left: 17px;
}
.plan-price {
  font-style: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: auto;
}
.plan-item.is-active, .plan-item:hover {
  border-color: #F53838;
}
.plan-item.is-active .button, .plan-item:hover .button {
  background-color: #F53838;
  color: white;
}

@media screen and (max-width: 1023.98px) {
  .plan {
    padding: 50px 0;
  }
  .plan-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    margin-bottom: 50px;
  }
  .plan-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .plan-list > * {
    scroll-snap-align: start;
  }
}
.network-heading {
  max-width: 380px;
  margin-left: 101px;
  margin-right: auto;
}
.network-image {
  margin-top: 155px;
  display: flex;
  justify-content: center;
  margin-left: 29px;
}

.partner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 31px;
}

@media screen and (max-width: 1023.98px) {
  .network-image {
    margin-top: 55px;
  }
}
@media screen and (max-width: 400px) {
  .partner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
  }
}
.customer .boxed {
  margin-bottom: 60px;
  margin-top: 56px;
  margin-left: 326px;
}
.customer .heading {
  max-width: 447px;
  margin-left: auto;
  margin-right: auto;
}
.customer-list {
  margin-top: -7px;
  margin-left: -5px;
}
.customer-item {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 30px;
}
.customer-item.slick-current.slick-active {
  border-color: #F53838;
}
.customer-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.customer-name, .customer-address {
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.customer .slick-track {
  display: flex;
  gap: 0 50px;
  padding-bottom: 60px;
}
.customer .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}
.customer .slick-prev {
  border: 1px solid #F53838;
  background-color: transparent;
  right: 82px;
}
.customer .slick-next {
  background-color: #F53838;
  right: 2px;
}
.customer .slick-dots {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 15px;
  transform: translateY(50%);
  margin-left: 34px;
}
.customer .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  transition: all 0.2s linear;
}
.customer .slick-dots .slick-active button {
  background-color: #F53838;
  width: 45px;
}

@media screen and (min-width: 1024px) {
  .customer-item {
    height: 277px;
  }
}
.subscribe {
  transform: translateY(70%);
}
.subscribe-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 30px 114px 0 0 rgba(13, 16, 37, 0.06);
}
.subscribe-content {
  max-width: 410px;
}

@media screen and (max-width: 1023.98px) {
  .subscribe {
    transform: translateY(0);
  }
  .subscribe-container {
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    padding: 0px;
  }
  .subscribe-content {
    max-width: 700px;
  }
}
.footer {
  padding-bottom: 100px;
  background-color: #f8f8f8;
  padding-top: 202px;
  padding-left: 61px;
}
.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 86px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 22px;
  width: 316px;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-links {
  list-style-type: none;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: inherit;
  line-height: 1.875;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .copyright {
  color: #afb5c0;
}

@media screen and (max-width: 1023.98px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 10px;
  }
  .footer-container {
    grid-template-columns: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
