.feature {
  padding-bottom: 130px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 170px;
  }
  &-desc {
    margin-bottom: 23px;
  }
  &-list {
    list-style-type: none;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 21px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1023.98px) {
  .feature {
    padding-bottom: 80px;
  }

  .feature-container {
    flex-direction: column;
  }

  .feature-content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 25px;
  }
}
