.footer {
  padding-bottom: 100px;
  background-color: $gray-light-colo;
  padding-top: 202px;
  padding-left: 61px;
  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 0 86px;
  }
  &-logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 22px;
    width: 316px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-links {
    list-style-type: none;
  }
  &-item {
    margin-bottom: 10px;
  }
  &-link {
    color: inherit;
    line-height: calc(30 / 16);
  }
  .social {
    display: flex;
    align-items: center;
    // gap: 0 20px;
  }
  .copyright {
    color: #afb5c0;
  }
}

@media screen and (max-width: 1023.98px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 10px;
  }
  .footer-container {
    grid-template-columns: 100%;
  }
}
