.subscribe {
    transform: translateY(70%);
    // transform: translateY(20%);
  &-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 30px 114px 0 0 rgb(#0d1025, 0.06);
  }
  &-content {
    max-width: 410px;
  }
}

@media screen and (max-width: 1023.98px) {
  .subscribe {
    transform: translateY(0);
  }
  .subscribe-container{
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    padding: 0px;
  }
  .subscribe-content{
    max-width: 700px;
  }
  .subscribe-btn{
    // margin-top: 30px;
  }
}
