$font: 'Rubik', sans-serif;
$text-color: #4F5665;
$heading-color: #0B132A;
$primary-color: #F53838;
$gray-color: #DDE0E4;
$gray-light-colo: #f8f8f8;
// $gray-light-colo: #ff0000;
$gray-lighter-color: #ddd;

