.customer {
  .boxed {
    margin-bottom: 60px;
    margin-top: 56px;
    margin-left: 326px;
  }
  .heading {
    max-width: 447px;
    margin-left: auto;
    margin-right: auto;
  }

  &-list {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 400px;
  grid-auto-flow: column;
  grid-gap: 3.1rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
  margin-left: 30px;
  margin-top: -7px;
  }
  &-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  &-list > *{
    scroll-snap-align: start;
  }

  // &-list{
  //   margin-top: -7px;
  //   margin-left: -5px;
  // }

  // &-list{
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 0 50px;
  // }

  &-item {
    border: 2px solid $gray-lighter-color;
    border-radius: 10px;
    padding: 30px;
  }

  &-active{
    border: 2px solid $primary-color;
  }

  &-top {
    // margin-bottom: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-info {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }
  &-avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
  }
  &-name,
  &-address {
    line-height: 1;
  }

  &-rating {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  //   slick slider
  .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 0 50px;
    padding-top: 60px;
  }
  .slick-arrow {
    // width: 60px;
    // height: 60px;
    // border-radius: 100rem;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    // bottom: 0;
    // transform: translateY(50%);
    // z-index: 10;
  }

  .slick-prev,.slick-next{
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-prev {
    border: 1px solid $primary-color;
    background-color: transparent;
    right: -12px;
    position: relative;
  }
  .slick-next {
    background-color: $primary-color;
    right: -31px;
    position: relative;
  }
  .slick-dots {
    // list-style-type: none;
    display: flex;
    padding-right: 822px;
    // align-items: center;
    gap: 0 15px;
    // transform: translateY(50%);
    // margin-left: 34px;
    // button {
    //   font-size: 0;
    //   width: 15px;
    //   height: 15px;
    //   border-radius: 100rem;
    //   transition: all 0.2s linear;
    // }
    // .slick-active button {
    //   background-color: $primary-color;
    //   width: 45px;
    // }
  }
  .slick{
    &-large, &-small{
      font-size: 0;
      border-radius: 100rem;
      transition: all 0.2s linear;
    }
    &-large{
      width: 45px;
      height: 15px;
      background-color: $primary-color;
    }
    &-small{
      width: 15px;
      height: 15px;
      background-color: $gray-color;
    }
  }
}

@media screen and (min-width: 1024px) {
  .customer-item {
    height: 229px;
  }
}


// .customer {
//   .boxed {
//     margin-bottom: 60px;
//     margin-top: 56px;
//     margin-left: 326px;
//   }
//   .heading {
//     max-width: 447px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   &-list{
//     margin-top: -7px;
//     margin-left: -5px;
//   }

//   &-item {
//     border: 2px solid $gray-lighter-color;
//     border-radius: 10px;
//     padding: 30px;
//     &.slick-current.slick-active {
//       border-color: $primary-color;
//     }
//   }
//   &-top {
//     margin-bottom: 20px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   &-info {
//     display: flex;
//     align-items: center;
//     gap: 0 20px;
//   }
//   &-avatar {
//     width: 50px;
//     height: 50px;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       border-radius: 100rem;
//     }
//   }
//   &-name,
//   &-address {
//     line-height: 1;
//   }

//   &-rating {
//     display: flex;
//     align-items: center;
//     gap: 0 10px;
//   }
//   //   slick slider
//   .slick-track {
//     display: flex;
//     gap: 0 50px;
//     padding-bottom: 60px;
//   }
//   .slick-arrow {
//     width: 60px;
//     height: 60px;
//     border-radius: 100rem;
//     display: flex !important;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     bottom: 0;
//     transform: translateY(50%);
//     z-index: 10;
//   }
//   .slick-prev {
//     border: 1px solid $primary-color;
//     background-color: transparent;
//     right: 82px;
//   }
//   .slick-next {
//     background-color: $primary-color;
//     right: 2px;
//   }
//   .slick-dots {
//     list-style-type: none;
//     display: flex;
//     align-items: center;
//     gap: 0 15px;
//     transform: translateY(50%);
//     margin-left: 34px;
//     button {
//       font-size: 0;
//       width: 15px;
//       height: 15px;
//       border-radius: 100rem;
//       transition: all 0.2s linear;
//     }
//     .slick-active button {
//       background-color: $primary-color;
//       width: 45px;
//     }
//   }
// }

// // @media screen and (min-width: 1366px) {
// //   .customer-item {
// //     height: 277px;
// //   }
// // }

// @media screen and (min-width: 1024px) {
//   .customer-item {
//     height: 277px;
//   }
// }
